@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    --bs-alert-color: var(--bs-success-text-emphasis);
    --bs-alert-bg: var(--bs-success-bg-subtle);
    --bs-alert-border-color: var(--bs-success-border-subtle);
    --bs-alert-link-color: var(--bs-success-text-emphasis);
}
.container {
    
    max-width: 600px;
    margin: 50px auto;
    /* background-color: rgba(91, 132, 167, 0.805); */
    background-color: rgba(255, 255, 255, 0.879);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 10px 20px 10px rgba(0, 0, 0, 0.5);
}
h1 {
    text-align: center;
    color: #64129b;}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-left: 10%;
}
input[type="text"], input[type="email"], input[type="date"], input[type="age"], input[type="radio"],select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    /* margin-left: 20%; */
    text-align: center;
    justify-content: center;
}

input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-left: 30%;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
a{
    text-decoration: solid;
    margin-left: 20%;
    text-align: center;
}
input[type="submit"]:hover {
    background-color: rgba(91, 132, 167, 0.805);
    color: #1f3043;
    border-radius: 100px;
    transition: 3s;
}