/* footer.css */

footer {
    background-color: #eed454;
}


.footerContainer {
    width: 100%;
    padding: 60px 30px 100px;
    margin-top: 0%;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    transition: .6s;
}

.socialIcons a i {
    font-size: 2em;
    opacity: 0.9;
}

/* Specific colors for each social media icon */
.socialIcons a.fa-facebook i {
    color: #3b5998; /* Facebook color */
}

.socialIcons a.fa-instagram i {
    color: #e1306c; /* Instagram color */
}

.socialIcons a.fa-twitter i {
    color: #1da1f2; /* Twitter color */
}

.socialIcons a.fa-whatsapp i {
    color: #25d366; /* WhatsApp color */
}

.socialIcons a.fa-youtube i {
    color: #ff0000; /* YouTube color */
}

/* Hover effect on social media icons */
.socialIcons a:hover {
    background-color: #c90c0c;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

/* Specific styles for active state */
.socialIcons a:active.fa-instagram i,
.socialIcons a:focus.fa-instagram i {
    color: #c13584; /* Dark pink for Instagram */
}

.socialIcons a:active.fa-whatsapp i,
.socialIcons a:focus.fa-whatsapp i {
    color: #128c7e; /* Dark green for WhatsApp */
}

.footerNav {
    margin: 25px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.2em; /* Adjust font size */
    opacity: 0.9;
    transition: 0.5s;
    border-bottom: 2px solid transparent; /* Default state with no underline */
}

/* Hover effect on navigation links */
.footerNav ul li a:hover,
.footerNav ul li a:focus,
.footerNav ul li a:active {
    opacity: 1;
    border-bottom: 2px solid #ffffff; /* Underline on hover, focus, and active states */
}

.footerBottom {
    background-color: #cf5d5d;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}
